<%- include('partials/admin-dashboard-header.ejs') %>

<main class="table-main">
    <h1>Project: <%= sheetName %></h1><br>

    <table border="1" class="data-table">
        <thead>
            <tr>
                <% Object.keys(data[0] || {}).forEach(key => { %>
                    <th><%= key %></th>
                <% }) %>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(row => { %>
                <tr>
                    <% Object.values(row).forEach(value => { %>
                        <td><%= value %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </tbody>
    </table>
</main>


<!-- This script is required for the buttons to work -->
<script src="/js/table-controls.js"></script>
<%- include('../partials/footer') %>
